<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet"> --}}

    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

     {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    {{#each scripts}}
        <script type="module" src="{{this}}"></script>
    {{/each}}
</head>
<body>
    {{>header}}

    <main>
        <div class="wrapper">
            {{{body}}}
        </div>
    </main>

    {{>footer}}
</body>
</html>

{{!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- External Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">

    <!-- Normalize.css and Custom Styles -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- Additional Stylesheets -->
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS Bundle -->
    <script src="./js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    {{#each scripts}}
        <script type="module" src="{{this}}"></script>
    {{/each}}
</head>
<body>
    {{> header}} <!-- Include the header partial -->

    <main>
        <div class="wrapper">
            {{{body}}} <!-- This is where the content of each page will be rendered -->
        </div>
    </main>

    {{> footer}} <!-- Include the footer partial -->
</body>
</html> --}}
