<section>
    <h2>Votre choix</h2>

    <ul class="menu">
        {{#each produit}}
            <li data-id-produit="{{this.id_produit}}">
                {{!-- <div class="divContainer"> --}}
                    <div class="nom">{{this.nom}}</div>
                    <div class="prix">{{this.prix}} $</div>
                    <img src="{{this.chemin_image}}" alt="{{this.nom}}">
                    <input class="boutonAjouter" type="button" value="Ajouter" {{#unless ../user}}disabled{{/unless}}>
                        
                {{!-- </div>   --}}
            </li>
        {{/each}}
    </ul>
</section>

<script type="module" src="./js/menu.js"></script>
